<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>ru</string>
    <key>CFBundleDisplayName</key>
    <string>OBhoD</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>OBhoD</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.4</string>
    <key>CFBundleVersion</key>
    <string>117</string>

    <!-- URL Schemes: qwdtt:// -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>net.qwdtt.client.ios</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>qwdtt</string>
            </array>
        </dict>
    </array>

    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>NSUserTrackingUsageDescription</key>
    <string>Не используется</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>OBhoD использует локальную сеть для работы VPN-туннеля</string>
</dict>
</plist>
